/* Universal Styles */

*,*::after,*::before {
    box-sizing: inherit;
}
  
html {
    box-sizing: border-box;
    font-size:16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    background: #77b3d4;
    color:whitesmoke;
}

#app {
    font-family: inherit;
}

.main-flex {
    width: 31.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin:auto;
    bottom: 0;
    top: 20vh;
    left: 0;
    right: 0;
}

/* background styles */

.background {
    position: fixed;
    top: 0;
    left: 50vw;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.cloud-1,
.cloud-2,
.cloud-3 {
    height: 100px;
    position: absolute;
}

.cloud-1 {
    top: 25%;
    transform: translate(100%, -25%);
    animation: clouds 19s ease infinite 1s;
}

.cloud-2 {
    top: 50%;
    transform: translate(100%, -50%);
    animation: clouds 18s ease infinite 1s;
}

.cloud-3 {
    top: 75%;
    transform: translate(100%, -75%);
    animation: clouds 20s ease infinite 1s;
}

@keyframes clouds {
    from {
        right: 0%;
    }

    to {
        right: 170%;
    }
}

.fail-messg {
    margin-left: 100px;
    display: none;
}

.entry {
    background: rgba(59, 74, 107, .4);
    position: absolute;
    margin:auto;
    bottom: 0;
    top: 60vh;
    left: 0;
    right: 0;
    width: 31.25rem;
    height: 15rem;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display:block;
    font-size: 27px;
    margin-left: 60px;
}

input {
    display:block;
    height: 60px;
    width: 320px;
    background: rgba(0, 0, 0, 0.5);
    color:whitesmoke;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 5px;
}

button {
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: whitesmoke;
    font-size: 26px;
    border: none;
    box-shadow: 2px 4px 5px #444;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 30px;
}

h1 {
    font-size: 36px;
}

textarea {
    background: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    font-size: 18px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: rgba(255, 254, 254, 0.982);
}
